# Challenge 1

> **Mode d'emploi**
> - Pratiquer la datascience
> - Problème structuré et encadré
> - Prenez le temps de chercher les solutions avant de regarder les corrections (n'hésitez pas à re-visionner les vidéos précédentes)
> - Cas réel: dataset des prénoms unisexes aux Etats-Unis (téléchargeables via les ressources de cette vidéo)

## Lire le fichier dans une liste

> **Enoncé**
> - Lire le fichier 'unisex_names.csv'
> - Assigner cette chaine de caractères à la variable names.
> - Convertir names en liste (méthode split())
> - Assigner le résultat à la variable names_list.
> - Afficher les 10 premiers éléments.

In [1]:
f = open('unisex_names.csv', 'r')
names = f.read()
names_list = names.split('\n')
print(names_list[0:10])

['Casey,176544.328149', 'Riley,154860.665173', 'Jessie,136381.830656', 'Jackie,132928.78874', 'Avery,121797.419516', 'Jaime,109870.18729', 'Peyton,94896.395216', 'Kerry,88963.92625', 'Jody,80400.519199', 'Kendall,79210.873961']

## Convertir la liste en liste de listes

> **Enoncé**
> - Créer une liste vide names_data.
> - Ecrire une boucle qui convertit notre liste en liste de listes.

In [4]:
names_data = []

for name in names_list:
    comma_list = name.split(',')
    names_data.append(comma_list)
    
print(names_data[0:5])

[['Casey', '176544.328149'], ['Riley', '154860.665173'], ['Jessie', '136381.830656'], ['Jackie', '132928.78874'], ['Avery', '121797.419516']]

## Convertir les valeurs numériques

> **Enoncé**
> - Créer une nouvelle liste numerical_list.
> - Ecrire une boucle qui convertit les 'nombres' en nombres décimaux.

In [5]:
numerical_list = []

for line in names_data:
    name = line[0]
    count = float(line[1])
    new_list = [name, count]
    numerical_list.append(new_list)
    
print(numerical_list[0:5])

[['Casey', 176544.328149], ['Riley', 154860.665173], ['Jessie', 136381.830656], ['Jackie', 132928.78874], ['Avery', 121797.419516]]

## Filtrer la liste

> **Enoncé**
> - Créer une liste vide final_list.
> - Ecrire une boucle qui conserve seulement les prénoms partagés par au moins 1000 personnes.
> - Afficher les 10 premiers éléments de final_list.

In [6]:
final_list = []

for line in numerical_list:
    name = line[0]
    population = line[1]
    if population >= 1000:
        final_list.append(name)
        
print(final_list[0:10])

['Casey', 'Riley', 'Jessie', 'Jackie', 'Avery', 'Jaime', 'Peyton', 'Kerry', 'Jody', 'Kendall']