# Les dictionnaires

## Qu'est ce qu'un dictionnaire ?

In [3]:
students = ["Thomas", "Matt", "Sarah", "Nina"]
scores = [16, 15, 17, 14]

index = [0, 1, 2, 3]
name = "Sarah"
score = 0

for i in index:
    if students[i] == name:
        score = scores[i]
        
print(score)

17

In [4]:
scores = {} # dictionnaire vide

In [5]:
scores["Nina"] = 14

In [6]:
print(scores)

{'Nina': 14}

In [7]:
scores['Thomas'] = 16
scores['Sarah'] = 17
scores['Matt'] = 15

In [8]:
print(scores)

{'Nina': 14, 'Thomas': 16, 'Sarah': 17, 'Matt': 15}

In [10]:
animals = {"poules": 120, "chèvres": 46, "chevaux": 23, "vaches": 55}

In [11]:
animals

{'chevaux': 23, 'chèvres': 46, 'poules': 120, 'vaches': 55}

In [12]:
animals['poules'] = 110

In [13]:
animals

{'chevaux': 23, 'chèvres': 46, 'poules': 110, 'vaches': 55}

In [14]:
animals['chevaux'] = animals['chevaux'] + 5

In [15]:
animals

{'chevaux': 28, 'chèvres': 46, 'poules': 110, 'vaches': 55}

### Training

In [16]:
scores

{'Matt': 15, 'Nina': 14, 'Sarah': 17, 'Thomas': 16}

In [17]:
scores["Marie"] = 15

In [18]:
scores

{'Marie': 15, 'Matt': 15, 'Nina': 14, 'Sarah': 17, 'Thomas': 16}

In [20]:
scores['Nina' ] = scores['Nina'] + 2

In [21]:
scores

{'Marie': 15, 'Matt': 15, 'Nina': 16, 'Sarah': 17, 'Thomas': 16}

In [22]:
scores['Thomas'] = 10

In [23]:
scores

{'Marie': 15, 'Matt': 15, 'Nina': 16, 'Sarah': 17, 'Thomas': 10}

In [24]:
matt_found = "Matt" in scores
tom_found = "Tom" in scores

print(matt_found)
print(tom_found)

True
False

## La condition if / else

In [35]:
temperature = 50

if temperature > 40:
    print("Il fait chaud !")
if temperature <= 40:
    print("Il fait froid !")

Il fait chaud !

In [37]:
temperature = 10
if temperature > 40:
    print("Il fait chaud !")
else:
    print("Il fait froid !")

Il fait froid !

In [38]:
temperatures = [50, 20, 10, 35]

high_temperatures = []
low_temperatures = []

for temperature in temperatures:
    if temperature > 40:
        high_temperatures.append(temperature)
    else:
        low_temperatures.append(temperature)

In [39]:
print(high_temperatures)

[50]

In [40]:
print(low_temperatures)

[20, 10, 35]

### Training

In [42]:
planet_names = ["Mercure", "Vénus", "Terre", "Mars", "Jupiter", "Saturne", "Neptune", "Uranus"]

short_names = []
long_names = []

for planet in planet_names:
    if len(planet) > 5:
        long_names.append(planet)
    else:
        short_names.append(planet)
        
print(long_names)
print(short_names)

['Mercure', 'Jupiter', 'Saturne', 'Neptune', 'Uranus']
['Vénus', 'Terre', 'Mars']

## Compter les éléments d'une liste et présenter les résultats dans un dictionnaire

In [47]:
fruits = ["Citron", "Banane", "Pomme", "Pomme", "Pomme", "Banane", "Banane", "Pomme"]

fruits_counts = {}

for item in fruits:
    if item in fruits_counts:
        fruits_counts[item] = fruits_counts[item] + 1
    else:
        fruits_counts[item] = 1
        
print(fruits_counts)

{'Banane': 3, 'Citron': 1, 'Pomme': 4}

### Training

In [48]:
weather_data = []

f = open("madrid_weather_2016.csv", "r")
data = f.read()
rows = data.split('\n')
for row in rows:
    split_row = row.split(',')
    weather_data.append(split_row)
    
new_weather = weather_data[1:366]

weather = []

for row in new_weather:
    weather.append(row[1])

In [49]:
weather_counts = {}

for item in weather:
    if item in weather_counts:
        weather_counts[item] += 1
    else:
        weather_counts[item] = 1
        
print(weather_counts)

{'Orage': 1, 'Nuage-Pluie': 4, 'Nuage': 125, 'Pluie': 25, 'Soleil': 210}