# Python: les bases

## Les variables: créer et afficher une variable

In [1]:
days = 365

In [2]:
days

365

In [3]:
number_days = 365

In [4]:
day_1 = 365
day_2 = 366

In [5]:
days

365

In [6]:
days = 366

In [7]:
days

366

In [8]:
spain = 95
france = 82
canada = 75

In [9]:
# print()
print(spain)

95

In [10]:
print(france)

82

In [11]:
print(canada)

75

## Les variables: types de donnée

In [12]:
# Entier / integer

In [13]:
france = 123

In [14]:
# type()
france_type = type(france)
print(france_type)

<class 'int'>

In [15]:
# Nombre à virgule / float

In [16]:
france_exact = 122.5

In [17]:
print(type(france_exact))

<class 'float'>

In [18]:
# Chaines de caractères / string

In [19]:
hello = 'Hello'
hello_world = "Hello World!"

In [20]:
print(hello)

Hello

In [21]:
print(type(hello))

<class 'str'>

In [22]:
# booléen / boolean

In [23]:
true_type = True
false_type = False

In [24]:
print(true_type)

True

In [25]:
print(type(true_type))

<class 'bool'>

In [26]:
# Convertir un type de données

In [27]:
# str() et int()

In [28]:
int_to_str = str(2)

In [29]:
print(int_to_str)

2

In [30]:
print(type(int_to_str))

<class 'str'>

In [31]:
str_to_int = int("2")
print(str_to_int)

2

In [32]:
print(type(str_to_int))

<class 'int'>

## Opérations avec nos variables

In [33]:
# Addition
somme = 95 + 82

In [34]:
print(somme)

177

In [35]:
spain = 95
france = 82
sum_france_spain = france + spain
print(sum_france_spain)

177

In [36]:
# Puissance 2 / carré
square = 5
squared = square ** 2
print(squared)

25

In [37]:
# Multiplication
double_france = france * 2
print(double_france)

164

In [38]:
# Division
divide_france = france / 2
print(divide_france)

41.0

In [39]:
# Soustraction
soustract_france_spain = france - spain
print(soustract_france_spain)

-13

In [40]:
france_celsius = (france - 32) * 0.56
spain_celsius = (spain - 32) * 0.56
print(france_celsius)
print(spain_celsius)

28.000000000000004
35.28

## Création d'une liste

In [41]:
months = []

In [42]:
# append()
months.append("Janvier")
months.append("Février")

In [43]:
print(months)

['Janvier', 'Février']

In [44]:
print(type(months))

<class 'list'>

In [45]:
months = []
months.append(1)
months.append("Janvier")
months.append(2)
months.append("Février")

In [46]:
months

[1, 'Janvier', 2, 'Février']

In [47]:
months_2 = [1, "Janvier", 2, "Février", 3, "Mars"]

In [48]:
print(months_2)

[1, 'Janvier', 2, 'Février', 3, 'Mars']

In [49]:
temperatures = ["France", 122.5, "Spain", 124.0]

In [51]:
temperatures.append("United States")
temperatures.append(134.1)

In [52]:
print(temperatures)

['France', 122.5, 'Spain', 124.0, 'United States', 'United States', 134.1]

## Récupérer une valeur dans une liste

In [53]:
years = [2013, 2014, 2015, 2016, 2017]
first_value = years[0] # 2013
second_value = years[1] # 2014
last_value = years[4] # 2017

In [54]:
print(first_value)

2013

In [55]:
print(last_value)

2017

### Training

In [56]:
countries = []
temperatures = []

countries.append("France")
countries.append('Spain')
countries.append("Canada")

temperatures.append(122.5)
temperatures.append(124.0)
temperatures.append(105.2)

In [57]:
print(countries)

['France', 'Spain', 'Canada']

In [58]:
print(temperatures)

[122.5, 124.0, 105.2]

In [59]:
france = countries[0]
france_temperature = temperatures[0]

In [60]:
print(france)

France

In [61]:
print(france_temperature)

122.5

## Récupérer la longueur d'une liste

In [62]:
countries[6]

IndexError: list index out of range

In [63]:
# len()
int_months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ,11, 12]
total_length = len(int_months)
print(total_length)

12

In [64]:
last_value_position = len(int_months) - 1
last_value = int_months[last_value_position]

In [65]:
print(last_value)

12

In [66]:
last_value_1 = int_months[len(int_months) - 1]
print(last_value_1)

12

In [67]:
countries = ["France", "Spain", "United States", "Canada", "Australia", "Argentina"]
temperatures = [122.5, 124.0, 134.1, 105.2, 112.5, 128.3]

sum = len(countries) + len(temperatures)
print(sum)

12

## Récupérer un morceau de liste (slicing)

In [70]:
months = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet",
          "Août", "Septembre", "Octobre", "Novembre", "Décembre"]

In [73]:
months_slicing_1 = months[4:6] # positions 4 et 5 : Mai et Juin

In [74]:
print(months_slicing_1)

['Mai', 'Juin']

In [76]:
# Valeurs à partir de la position 5 (index 5)
months_slicing_2 = months[5:]
print(months_slicing_2)

['Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']

### Training

In [77]:
countries = ["France", "Spain", "United States", "Canada", "Australia", "Argentina"]
temperatures = [122.5, 124.0, 134.1, 105.2, 112.5, 128.3]

countries_slice = countries[0:3]
print(countries_slice)

['France', 'Spain', 'United States']

In [78]:
temperatures_slice = temperatures[len(temperatures)-4:]
print(temperatures_slice)

[134.1, 105.2, 112.5, 128.3]