# Projet Final

## 1. Découverte du dataset

| | | year | month | intent | police | sex | age | race | hispanic | place | education |
| :-: | :-: | :--: | :---: | :----: | :----: | :-: | :-: | :--: | :------: | :---: | :-------: |
| 0 | 1 | 2012 | 1 | Suicide | 0 | M | 34.0 | Asian/Pacific Islander | 100 | Home | 4.0 |
| 1 | 2 | 2012 | 1 | Suicide | 0 | F | 21.0 | White | 100 | Street | 3.0
| 2 | 3 | 2012 | 1 | Suicide | 0 | M | 60.0 | White | 100 | Other specified | 4.0 |

### Instructions

> - Lire le dataset "guns.csv" dans une liste data.
> - Afficher les 5 premières valeurs.
> - Extraire l'en-tête et l'assigner à la variable headers.
> - Supprimer l'en-tête de data.
> - Afficher l'en-tête.
> - Afficher de nouveau les 5 premières valeurs sans l'en-tête.

## Découverte du dataset

In [4]:
import csv

with open("guns.csv", "r") as f:
    reader = csv.reader(f)
    data = list(reader)

In [5]:
print(data[:5])

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education'], ['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4']]

## Suppression de l'en-tête

In [6]:
headers = data[:1]
data = data[1:]

In [7]:
print(headers)

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education']]

In [8]:
print(data[:5])

[['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4'], ['5', '2012', '02', 'Suicide', '0', 'M', '31', 'White', '100', 'Other specified', '2']]

## 2. Compter le nombre de décès par armes à feu aux USA par année

### Instructions

> - Utiliser une compréhension de listes pour extraire la donnée de la colonne year et assigner le résultat à la variable years.
> - Créer un dictionnaire vide qu'on nommera year_counts.
> - Compter le nombre de décès pour chaque année en parcourant la liste years.
> - Afficher year_counts.

## Nombre de décès par armes à feu aux USA  par année entre 2012 et 2014

In [11]:
years = [row[1] for row in data]
year_counts = {}
for year in years:
    if year not in year_counts:
        year_counts[year] = 0
    year_counts[year] += 1

In [12]:
print(year_counts)

{'2013': 33636, '2014': 33599, '2012': 33563}

## 3. Explorer les décès par armes à feu par mois et année

### Instructions

- Utiliser une compréhension de listes pour créer un objet datetime.datetime pour chaque élement de la liste data afin d'extraire toutes les dates. Assigner le résultat à la variable dates.
> - N'oublier pas de convertir les valeurs de l'année et du mois avec int() ;)
> - Utiliser les arguments year, month et day = 1 pour notre fonction datetime()
- Afficher les 5 premiers élements de dates.
- Compter le nombre d'élements par dates. Assigner le résultat à date_counts.
- Afficher le résultat.

## Exploration du nombre de décès par mois

In [13]:
import datetime
dates = [datetime.datetime(year = int(row[1]), month = int(row[2]), day = 1) for row in data]

In [14]:
dates[:5]

[datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0)]

In [15]:
date_counts = {}
for date in dates:
    if date not in date_counts:
        date_counts[date] = 0
    date_counts[date] +=1

In [16]:
date_counts

{datetime.datetime(2012, 1, 1, 0, 0): 2758,
 datetime.datetime(2012, 2, 1, 0, 0): 2357,
 datetime.datetime(2012, 3, 1, 0, 0): 2743,
 datetime.datetime(2012, 4, 1, 0, 0): 2795,
 datetime.datetime(2012, 5, 1, 0, 0): 2999,
 datetime.datetime(2012, 6, 1, 0, 0): 2826,
 datetime.datetime(2012, 7, 1, 0, 0): 3026,
 datetime.datetime(2012, 8, 1, 0, 0): 2954,
 datetime.datetime(2012, 9, 1, 0, 0): 2852,
 datetime.datetime(2012, 10, 1, 0, 0): 2733,
 datetime.datetime(2012, 11, 1, 0, 0): 2729,
 datetime.datetime(2012, 12, 1, 0, 0): 2791,
 datetime.datetime(2013, 1, 1, 0, 0): 2864,
 datetime.datetime(2013, 2, 1, 0, 0): 2375,
 datetime.datetime(2013, 3, 1, 0, 0): 2862,
 datetime.datetime(2013, 4, 1, 0, 0): 2798,
 datetime.datetime(2013, 5, 1, 0, 0): 2806,
 datetime.datetime(2013, 6, 1, 0, 0): 2920,
 datetime.datetime(2013, 7, 1, 0, 0): 3079,
 datetime.datetime(2013, 8, 1, 0, 0): 2859,
 datetime.datetime(2013, 9, 1, 0, 0): 2742,
 datetime.datetime(2013, 10, 1, 0, 0): 2808,
 datetime.datetime(2013, 11, 1, 0, 0): 2758,
 datetime.datetime(2013, 12, 1, 0, 0): 2765,
 datetime.datetime(2014, 1, 1, 0, 0): 2651,
 datetime.datetime(2014, 2, 1, 0, 0): 2361,
 datetime.datetime(2014, 3, 1, 0, 0): 2684,
 datetime.datetime(2014, 4, 1, 0, 0): 2862,
 datetime.datetime(2014, 5, 1, 0, 0): 2864,
 datetime.datetime(2014, 6, 1, 0, 0): 2931,
 datetime.datetime(2014, 7, 1, 0, 0): 2884,
 datetime.datetime(2014, 8, 1, 0, 0): 2970,
 datetime.datetime(2014, 9, 1, 0, 0): 2914,
 datetime.datetime(2014, 10, 1, 0, 0): 2865,
 datetime.datetime(2014, 11, 1, 0, 0): 2756,
 datetime.datetime(2014, 12, 1, 0, 0): 2857}

## 4. Explorer les décès par arme à feu par origine et sexe

### Instructions

- Compter le nombre de décès en fonction du sexe, assigner le résultat à la variable sex_counts.
- Compter le nombre de décès en fonction de l'origine, assigner le résultat à race_counts.
- Afficher sex_counts et race_counts.

## Exploration du nombre de décès par origine et par sexe

In [17]:
sexes = [row[5] for row in data]
sex_counts = {}
for sex in sexes:
    if sex not in sex_counts:
        sex_counts[sex] = 0
    sex_counts[sex] += 1

In [18]:
sex_counts

{'F': 14449, 'M': 86349}

In [19]:
races = [row[7] for row in data]
race_counts = {}
for race in races:
    if race not in race_counts:
        race_counts[race] = 0
    race_counts[race] += 1

In [20]:
race_counts

{'Asian/Pacific Islander': 1326,
 'Black': 23296,
 'Hispanic': 9022,
 'Native American/Native Alaskan': 917,
 'White': 66237}

## Dataset population

In [23]:
with open("census.csv", "r") as f:
    reader = csv.reader(f)
    census = list(reader)

In [24]:
census

[['Id',
  'Year',
  'Id',
  'Sex',
  'Id',
  'Hispanic Origin',
  'Id',
  'Id2',
  'Geography',
  'Total',
  'Race Alone - White',
  'Race Alone - Hispanic',
  'Race Alone - Black or African American',
  'Race Alone - American Indian and Alaska Native',
  'Race Alone - Asian',
  'Race Alone - Native Hawaiian and Other Pacific Islander',
  'Two or More Races'],
 ['cen42010',
  'April 1, 2010 Census',
  'totsex',
  'Both Sexes',
  'tothisp',
  'Total',
  '0100000US',
  '',
  'United States',
  '308745538',
  '197318956',
  '44618105',
  '40250635',
  '3739506',
  '15159516',
  '674625',
  '6984195']]

## 6. Ratio de décès par armes à feu en fonction de l'origine

In [25]:
race_counts

{'Asian/Pacific Islander': 1326,
 'Black': 23296,
 'Hispanic': 9022,
 'Native American/Native Alaskan': 917,
 'White': 66237}

In [26]:
rate = 66237 / 197318956 * 100000

- Asian/Pacific Islander = Race Alone - Asian plus Race Alone + Native Hawaiian and Other Pacific Islander
- Black = Race Alone - Black or African American
- Hispanic = Race Alone - Hispanic
- Native American/Native Alaskan = Race Alone - American Idian and Alaska Native
- White = Race Alone - White

### Instructions

- Créer manuellement un dictionnaire nommé mapping qui contient les 5 origines avec le nombre d'habitants correpondants au dataset census.
> - Les clés du dictionnaire seront: Asian/Pacific Islander, Black, Native American/Native Alaskan, Hispanic et White
> - Pour les Asian/Pacific Islander, il faudra ajouter Race Alone - Asian et Race Alone - Native Hawaiian and Other Pacific Islander
- Créer un dictionnaire vide ratio.
- Parcourir chaque élément de race_counts précédemment créé.
> - Pour chaque élement diviser la valeur de race_counts par la valeur associée du dictionnaire mapping
> - Multiplier par 100000
> - Assigner le résultat à la clé correspondante du dictionnaire ratio
- Afficher ratio.

## Exploration des ratios de décès en fonction de l'origine

In [27]:
mapping = {
    "Asian/Pacific Islander": 15159516 + 674625,
    "Native American/Native Alaskan": 3739506,
    "Black": 40250635,
    "Hispanic": 44618105,
    "White": 197318956
}

ratio = {}
for k, v in race_counts.items():
    ratio[k] = (v / mapping[k]) * 100000
ratio

{'Asian/Pacific Islander': 8.374309664161762,
 'Black': 57.8773477735196,
 'Hispanic': 20.220491210910907,
 'Native American/Native Alaskan': 24.521955573811088,
 'White': 33.56849303419181}

## 7. Filtrer par homicide

### Instructions

- Extraire la colonne intent en utilisant une compréhension de listes et assigner le résultat à la variable intents.
- Extraire la colonne race en utilisant aussi une compréhension de listes et assigner le résultat à la variable races.
- Créer un dictionnaire vide qu'on nommera homicide_counts.
- Utiliser la fonction enumerate() pour parcourir chaque élement de la liste races et compter le nombre d'homicides par origine.
- Réaliser la même procédure que précédemment pour calculer le ratio, assigner le résultat au dictionnaire homicide_ratio.
- Afficher le résultat et conclure.

In [28]:
intents = [row[3] for row in data]
races = [row[7] for row in data]
homicide_counts = {}
for i, race in enumerate(races):
    if race not in homicide_counts:
        homicide_counts[race] = 0
    if intents[i] == "Homicide":
        homicide_counts[race] += 1

In [29]:
homicide_counts

{'Asian/Pacific Islander': 559,
 'Black': 19510,
 'Hispanic': 5634,
 'Native American/Native Alaskan': 326,
 'White': 9147}

In [31]:
homicide_ratio = {}
for k, v in homicide_counts.items():
    homicide_ratio[k] = (v / mapping[k]) * 100000

In [32]:
homicide_ratio

{'Asian/Pacific Islander': 3.530346230970155,
 'Black': 48.471284987180944,
 'Hispanic': 12.627161104219914,
 'Native American/Native Alaskan': 8.717729026240365,
 'White': 4.6356417981453335}