In [1]:
days = 365

In [2]:
number_days = 365

In [3]:
day_1 = 365
day_2 = 365

In [4]:
days

365

In [5]:
days = 366

In [6]:
days

366

In [7]:
spain = 95
france = 82
canada = 75

In [8]:
print(spain)

95

In [9]:
print(france)

82

In [10]:
print(canada)

75

## Les types de données

In [12]:
# Entier / integer
france = 123

In [13]:
france_type = type(france)
print(france_type)

<class 'int'>

---

In [14]:
# Nombre à virgule / float
france_exact = 122.5
print(type(france_exact))

<class 'float'>

---

In [15]:
# Chaine de caractères / string
hello = 'hello'
hello_world = "Hello World !"

In [16]:
print(type(hello))

<class 'str'>

---

In [17]:
# Booléen / boolean
true_type = True
false_type = False

In [18]:
print(type(true_type))

<class 'bool'>

---

## Convertir un type de données

In [19]:
# fonction str() et int()
int_to_str = str(2)

In [20]:
print(int_to_str)

2

In [21]:
print(type(int_to_str))

<class 'str'>

In [22]:
str_to_int = int("2")

In [23]:
print(type(str_to_int))

<class 'int'>

## Opérations avec nos variables

In [24]:
# Addition
somme = 95 + 82

In [25]:
print(somme)

177

In [26]:
sum_france_spain = france + spain
print(sum_france_spain)

218

In [27]:
# carré / puissance 2
france_squared = france ** 2
print(france_squared)

15129

In [28]:
# multiplication
double_france = france * 2
print(double_france)

246

In [29]:
# division
divide_france = france / 2
print(divide_france)

61.5

In [31]:
# soustraction
soustract_france_spain = france - spain
print(soustract_france_spain)

28

#### Transformation températures Farenheit en degré Celsius

In [33]:
france_celsius = (france - 32) * 0.56
print(france_celsius)

50.96000000000001

In [34]:
spain_celsius = (spain - 32) * 0.56
print(spain_celsius)

35.28